{% extends 'base.html.twig' %}

{% block body %}
    <div id="mail"></div>
    <div class="maincontainer">
        <div class="hint">
            <a onclick="toggle(hidden_content)" class="btn btn-link btn-lg btn3d" role="button"><span class="glyphicon glyphicon-globe"></span> Підказка</a>
        </div>
        <div id="hidden_content" style="display: none;">

            <p>За допомогою Privnote ви можете відправляти записки, що самознищуются після прочитування</p>
            <ol>
                <p><li>Напишіть записку нижче, зашифруйте її та отримайте посилання</li></p>
                <p><li>Надішліть посилання тому, кому ви хочете, щоб він прочитав записку</li></p>
                <p><li>Записка самознищиться після прочитування ії отримувачем</li></p>
            </ol>
            <p>Щоб зрозуміти, як працює Privnote, дивіться <a href="{{ path('about') }}"><strong>Про нас</strong></a>.</p>
        </div>
        {{ form_start(form) }}
  {{ form_errors(form) }}
 
    <div>
        {{ form_label(form.text) }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text) }}
    </div>
        <div id="hidden_content1" style="display: none;">
   <div>
        {{ form_label(form.endDate) }}
        {{ form_errors(form.endDate) }}
        {{ form_widget(form.endDate) }}
    </div>
            <div class="checkbox_1">
                {{ form_label(form.checkbox) }}
                {{ form_errors(form.checkbox) }}
                {{ form_widget(form.checkbox) }}
            </div>
    <div class="first_password">
        {{ form_label(form.password.first) }}
        {{ form_errors(form.password.first) }}
        {{ form_widget(form.password.first) }}
    </div>
 
    <div class="second_password">
        {{ form_label(form.password.second) }}
        {{ form_errors(form.password.second) }}
        {{ form_widget(form.password.second) }}
    </div>
            <b style="color: red" id="info"></b><br>
            <div class="email1">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>

        </div>
           {{ form_widget(form)}}
            <a onclick="toggle(hidden_content1)" class="btn btn-info btn-lg btn3d" role="button">Додаткові параметри</a>
        <div>
            <input type="submit" value="Створити записку" class="btn btn-primary btn-lg btn3d"/>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function checkPass ()
        {
            with (document)
                getElementById ('info').innerHTML = (getElementById ('privlinkbundle_privlink_password_first').value != getElementById ('privlinkbundle_privlink_password_second').value) ?
                    'Паролі не одинакові' : 'OK!';
        }

        function toggle(el) {

            el.style.display = (el.style.display == 'none') ? '' : 'none'

        }
    </script>
{% endblock %}

